---
version: "3.2"

#volumes:
#  nfs:
#    driver: local
#    driver_opts:
#      type: nfs
#      o: addr=192.168.1.211,nolock,soft,rw
#      device: ":/mnt/user/Settings/ZNC"

services:
  znc:
    image: znc:slim
    container_name: znc
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - user=nobody
    volumes:
      - /mnt/data/ZNC:/znc-data
    ports:
      - "2565:6697"
#      - target: 6697
#        published: 2565
#        protocol: tcp
#        mode: host
    restart: unless-stopped
