---
version: "3.2"

volumes:
  nfs:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.1.211,nolock,soft,rw
      device: ":/mnt/user/Settings/ZNC"

services:
  znc:
    image: znc
    container_name: znc
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - user=nobody
    volumes:
      - type: volume
        source: nfs
        target: /znc-data
        volume:
          nocopy: true
    ports:
      - target: 6697
        published: 2565
        protocol: tcp
        mode: host
    restart: unless-stopped
